<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>google-OAuth-App-Practice</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
        crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/">HomePage - Google OAuth</a>
            </li>
           <% if(user) {%>
              <li>
                    <a href="/auth/logout">Logout</a>
              </li>
            <% } else  { %>
              <li>
                        <a href="/auth/login">Login</a>
              </li>
            <% } %>
               <li>
                    <a href="/">Home</a>
                </li>
                <li>
                     <a href="/auth/profile">Profile</a>
                </li>
                <li>
                        <a href="/google/consent">Consent</a>
                   </li>

        </ul>
    </nav>
    <header>
        <h1>Login using - Google Strategy</h1>
   
    </header>

    <main>
         <div class = "row">
              <div class = "card blue-grey lighten-4">
                    <h4>The Purpose of this App is to provide a baisc Google Authentication Setup</h4>
                    <h6>Features</h6>
                   <ul>
                       <li>Google+ API</li>
                       <li>Node.js</li>
                       <li>Express</li>
                       <li>Passport.js - Google Strategy</li>
                       <li>Cookie Session</li>
                       <li>Mongoose - MLab -Mongodb</li>
                       <li>Using materialize css framework</li>
                       <li>Implementing serverside authentication</li>
                   </ul>
              </div>
         </div>

        
    </main>

</body>

</html>