 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=<nav><>, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Google Login page</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
         
    <script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
        crossorigin="anonymous"></script>
 </head>
 <body>
     <nav>
         <ul>
             <li><a href="/auth/login">Login</a></li>
             <li><a href="/auth/logout">Logout</a></li>
             <li><a href="/">Home</a></li>
         </ul>
     </nav>
     <header>
         <h1>Google Login Page</h1>
     </header>
     <main>
         <a href="/auth/google">Google </a>
     </main>
     
 </body>
 </html>