 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=<nav><>, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Google Login page</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
         
    <script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
        crossorigin="anonymous"></script>
 </head>
 <body>
        <nav>
                <ul>
                    <li>
                        <a href="/">HomePage - Google OAuth</a>
                    </li>
                   <% if(user) {%>
                      <li>
                            <a href="/auth/logout">Logout</a>
                      </li>
                    <% } else  { %>
                      <li>
                                <a href="/auth/login">Login</a>
                      </li>
                    <% } %>
                       <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                             <a href="/auth/profile">Profile</a>
                        </li>
                        <li>
                                <a href="/google/consent">Consent</a>
                         </li>
                </ul>
            </nav>
   
     <main>
         <div class="container">
                <h1>Google Login Page</h1>
                <div class="card">
                    <div class="card-content">
                            <p> Please click this button to Signin using Google</p>
                            <a href="/auth/google" class="waves-effect waves-light btn">Google  <i class="material-icons right"></i></a>
                    </div>
                </div>
         </div>
     </main>
 </body>
 </html> 